<div class="navbar navbar-inverse navbar-fixed-top site_header_bar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".menu1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../prototype-general-flat/prototypes/index.html#Member_Homepage"><img src="http://localhost/musicsite/web/bundles/msms/images/logo.png"> <!--themusicsite <span class="comLogo">.com</span>--></a>
            </div>
            <div class="navbar-collapse collapse menu1" data-target=".menu1">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group" style="position: relative;">
                        <input type="text" class="form-control input-sm" id="header_search_bar" placeholder="Search">
                        <span class="header_search_icon">
                            <a href="../../prototype-search-module-flat/prototypes/index.html#Site_Search_Homepage"><img src="http://localhost/musicsite/web/bundles/msms/images/toolbar_find.png" alt=""></a>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li class="dropdown header_dropdown_links">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Browse
                            <b class="caret"></b>
                            <b class="caret-down pull-right visible-xs"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="http://themusicnewssite.com" target="_blank">Music News</a></li>
                            <li><a href="../../prototype-connections-module-flat/prototypes/index.html#Browse_People_Homepage">People</a></li>
                            <li><a href="../../prototype-pictures-module-flat/prototypes/index.html#Browse_Pictures_Homepage">Pictures</a></li>
                            <li><a href="../../prototype-videos-module-flat/prototypes/index.html#Browse_Videos_Homepage">Videos</a></li>
                            <li><a href="../../prototype-music-module-flat/prototypes/index.html#Browse_Music_Homepage">Music</a></li>
                            <li><a href="../../prototype-lyrics-module-flat/prototypes/index.html#Browse_Lyrics_Homepage">Lyrics</a></li>
                            <li><a href="../../prototype-events-module-flat/prototypes/index.html#Browse_Events_Homepage">Events</a></li>
                            <li><a href="../../prototype-blog-module-flat/prototypes/index.html#Browse_Blogs_Homepage">Blogs</a></li>
                        </ul>
                    </li>
                    <li class="dropdown header_dropdown_links">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Artist Tools
                            <b class="caret"></b>
                            <b class="caret-down pull-right visible-xs"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../../prototype-digitaldistribution-flat/prototypes/index.html#Digi_Dist_Homepage">Sell Your Music</a></li>
                            <li><a href="../../prototype-copyright-flat/prototypes/index.html#Copyright_Homepage">Register Your Copyright</a></li>
                            <li><a href="http://musicresources.tips/category/how-to" target="_blank">Info &amp; How-to's</a></li>
                            <li><a href="http://musicresources.tips/category/musiccontracts" target="_blank">Music Contracts</a></li>
                            <li><a href="http://musicresources.tips/category/industrylists" target="_blank">Directories</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown header_dropdown_links">
                        <a href="../../prototype-profile-module-flat/prototypes/index.html#Profile_ProfilePage_Wall" class="dropdown-toggle" data-toggle="dropdown">
                            @username
                            <b class="caret"></b>
                            <b class="caret-down pull-right visible-xs"></b>
                        </a>
                        <ul class="dropdown-menu">                            <li><a href="../../prototype-profile-module-flat/prototypes/index.html#Profile_ProfilePage_Wall">View My Profile</a></li>
                            <li><a href="../../prototype-profile-module-flat/prototypes/index.html#EditProfile_About_BasicInfo">Edit Profile Info</a></li>
                            <li><a href="../../prototype-profile-module-flat/prototypes/index.html#AddProfilePicture">Change Profile Picture</a></li>
                            <li><a href="../../prototype-profile-module-flat/prototypes/index.html#AddBanner">Change Banner Image</a></li>
                            <li><a href="../../prototype-profile-module-flat/prototypes/index.html#AddPromo_Image_UploadNew">Change Promo Image</a></li>
                            <li><a href="../../prototype-pictures-module-flat/prototypes/index.html#EditProfile_Pictures">My Pictures</a></li>
                            <li><a href="../../prototype-videos-module-flat/prototypes/index.html#EditProfile_Videos">My Videos</a></li>
                            <li><a href="../../prototype-music-module-flat/prototypes/index.html#EditProfile_Music_Albums">My Music</a></li>
                            <li><a href="../../prototype-lyrics-module-flat/prototypes/index.html#EditProfile_Lyrics">My Lyrics</a></li>
                            <li><a href="../../prototype-events-module-flat/prototypes/index.html#EditProfile_Events">My Events</a></li>
                            <li><a href="../../prototype-blog-module-flat/prototypes/index.html#EditProfile_Blogs">My Blog</a></li>
                            <li><a href="../../prototype-connections-module-flat/prototypes/index.html#EditProfile_Connections">My Connections</a></li>
                            <li><a href="../../prototype-player-flat/prototypes/index.html#MediaPlayer_ViewPlaylist">My Playlists</a></li>
                            <li><a href="../../prototype-pictures-module-flat/prototypes/index.html#ProfileAdmin_MyFavourites_Pictures">My Favourites</a></li>
                            <li><a href="../../prototype-advertising-flat/prototypes/index.html#ProfileAdmin_MyAds">My Ads</a></li>
                        </ul>
                    </li>
                    <li class="header_icons header_dropdown_links">
                        <a href="../../prototype-general-flat/prototypes/index.html#View_All_Notifications" class="header_icons">
                            <span class="hidden-xs">
                                <img src="http://localhost/musicsite/web/bundles/msms/images/bell_icon-active.png" alt="">
                            </span>
                            <span class="visible-xs">Notifications</span>
                        </a>
                    </li>
                    <li class="header_icons">
                         <a href="../../prototype-mailbox-module-flat/prototypes/index.html#Mailbox_Page_NewMessage" class="header_icons">
                            <span class="hidden-xs">
                                <img src="http://localhost/musicsite/web/bundles/msms/images/email_icon.png" alt="">
                            </span>
                            <span class="visible-xs">Mailbox</span>
                        </a>
                    </li>
                    <li class="dropdown header_icons header_dropdown_links">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">
                                <img src="http://localhost/musicsite/web/bundles/msms/images/settings_icon.png" alt="">
                            </span>
                            <span class="visible-xs">Account
                                <b class="caret"></b>
                                <b class="caret-down pull-right"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../../prototype-general-flat/prototypes/index.html#MyAccount_ManageEmail">My Account</a></li>
                            <li><a href="../../prototype-copyright-flat/prototypes/index.html#My_Copyright_Area">My Copyright</a></li>
                            <li><a href="http://www.distribution.themusicsite.com/Authen.aspx" target="_new">Distribution Dashboard/Royalties</a></li>
                            <li><a href="../../prototype-general-flat/prototypes/index.html#Notification_Settings">Notification Settings</a></li>
                            <li><a href="../../prototype-general-flat/prototypes/index.html#Privacy_Settings">Privacy Settings</a></li>
                            <li><a href="../../prototype-general-flat/prototypes/index.html#MyAccount_SocialSync">Sync Social Networks</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>